VITE_FIREBASE_API_KEY=AIzaSyD_7Rc0UTYZZbGZhnoPnnv73aEH6G3tCp0
VITE_FIREBASE_AUTH_DOMAIN=jpl2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=jpl2026
VITE_FIREBASE_STORAGE_BUCKET=jpl2026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=244509159357
VITE_FIREBASE_APP_ID=1:244509159357:web:b6849d92c4d84731812cd4
